/target/
/resources/public/css/
/resources/public/js/
/*.log
*.iml
*#
.#*
profiles.clj
.AppleDouble
.DS_Store
/.idea

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/
